<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
<h2>Descripción</h2>   
<div class="col-md-12">
<div class="card">
<div class="card-body">
<h3 class="card-title">Actividad creada</h3>
<h4>Preguntas Ciencias 1</h4>
<p class="card-text">Se ah creado la actividad exitosamente ! ve a editar si quiere modificar.</p>
<a href="#" class="btn btn-success">Editar</a>
<a href="#" class="btn btn-success" style="margin-left: 10px; background: #745AF2;border-color: #745AF2">Publicar</a>

</div>
<img src="../../../assets/images/espa.png" height="130px" style="margin-left: 80%;position: absolute;">
</div>
<br><br>        
<div class="card text-center">
<div class="card-body">
<h4 class="card-title">Agregar Pregunta</h4>

<a href="#" class="btn btn-primary" style="border-radius: 50%; height: 100px;width: 100px;font-size:70px;">+</a>
</div>
</div>
</div>

</div>
</div>
</div>
</div>

