<div class="card">
    <div class="card-body">
        <h4 id="fondo" class="card-title"></h4>
        <div id="font">

            <img id="ima" src="src/assets/images/AHORCADO.png" width="1100" height="500" position="center">



        </div>

    </div>

</div>