<div class="card-body">
        <div class="col-lg-2 col-md-4">
                 <button type="button" class="btn btn-block btn-lg btn-secondary" id="matematicas">Matematicas</button>
             </div>
          <div class="col-lg-2 col-md-4">
                 <button type="button" class="btn btn-block btn-lg btn-secondary" id="espanol">Español</button>
             </div>
          <div class="col-lg-2 col-md-4">
                 <button type="button" class="btn btn-block btn-lg btn-secondary" id="ciencias">Ciencias</button>
             </div>
          <div class="col-lg-2 col-md-4">
                 <button type="button" class="btn btn-block btn-lg btn-secondary" id="historia">Historia</button>
             </div>
     </div>